/*  your css code here. If applicable */
#line {
  width: 200px;
  height: 2px;
  background: #000;
  position: absolute;

  /* Center the line */
  top: 50%;
  left: 50%;
  transform-origin: center;
}
